<div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <<h1>{{title}}</h1>
        </div>
     </div>
     <div class="row">
       <div class="col-lg-4 offset-md-4">
         <form #form="ngForm">
<div class="form-group">
<label for="exampleInputEmail1">Role Number</label>
<input type="text" class="form-control" id="rollNumber" placeholder="Roll Number" [(ngModel)]="rollNumber" name="rollNumber">
</div>
<div class="form-group">
<label for="firstName">First Name</label>
<input type="text" class="form-control" id="firstName" placeholder="First Name" [(ngModel)]="firstName" name="firstName">
</div>
<div class="form-group">
<label for="lastName">Last Name</label>
<input type="text" class="form-control" id="lastName" placeholder="Last Name" [(ngModel)]="lastName" name="lastName">
</div>
<div class="form-group">
<label for="passingYear"> Passing Year</label>
<input type="number" class="form-control" id="passingYear" placeholder="Passing year" [(ngModel)]="passingYear" name="passingYear">
</div>
<div class="form-group">
<label for="percentage">Percentage</label>
<input type="number" class="form-control" id="percentage" placeholder="Percentage" [(ngModel)]="percentage" name="percentage">
</div>
<button type="button" (click)="addTranscript()" class="btn btn-primary">Submit</button>
<button type="button" (click)="verifyTranscript(content)" class="btn btn-primary">Verify Transcript</button>
</form>
           </div>
     </div>
  </div>
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>{{rollNumber}}</p>
      <p>{{firstName}}</p>
      <p>{{lastName}}</p>
      <p>{{passingYear}}</p>
      <p>{{percentage}}</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
  </ng-template>
